target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
ThreeGame/env.properties
ThreeGame/src/main/resources/application.properties
node_modules/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Server ###
dhparam.pem
privkey.pem
fullchain.pem
package-lock.json


phaser-JsToAngular-3game/privkey.pem
phaser-JsToAngular-3game/fullchain.pem
phaser-JsToAngular-3game/dhparam.pem
### Api ###
phaser-JsToAngular-3game/src/environments/
phaser-JsToAngular-3game/src/app/service/websocket.service.ts

tsconfig.app.json
tsconfig.json
tsconfig.spec.json
