<nav class="menu" style="--hue: 60.57606769900744">
    <input class="menu__toggle" type="checkbox" id="menu-toggle"/>
    <label class="menu__toggle-label" for="menu-toggle"></label>
    <label class="menu__toggle-label menu__toggle-label--closer" for="menu-toggle">
      <svg class="menu__icon" preserveAspectRatio="xMinYMin" viewBox="0 0 24 24">
        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"></path>
      </svg>
      <svg class="menu__icon" preserveAspectRatio="xMinYMin" viewBox="0 0 24 24">
        <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path>
      </svg>
    </label>
    <ul class="menu__content">
      <li class="menu__item" style="--x: 25; --y: 19;"><a class="menu__link" [routerLink]="['/phaser-game']" routerLinkActive="active" (click)="closeMenu()">GAME</a></li>
      <li class="menu__item" style="--x: 58; --y: 26;"><a class="menu__link" [routerLink]="['/home']" (click)="closeMenu()">HOME</a></li>
      <li class="menu__item" style="--x: 15; --y: 58;"><a class="menu__link" [routerLink]="['/cv']" (click)="closeMenu()">CV</a></li>
      <li class="menu__item" style="--x: 65; --y: 52;"><a class="menu__link" href="#WORK" (click)="closeMenu()" >WORK</a></li>
      <li class="menu__item" style="--x: 80; --y: 30;"><a class="menu__link" (click)="logout()">LOGOUT</a></li>
    </ul>
  </nav>
