.containerControll {
    position: relative;
    background: radial-gradient(circle, #FF6E4C, #FF426C);
    color: white;
    border-radius: 30px;
    box-shadow: -1px 0px 20px -11px #000000;
    overflow: hidden; 
}

.containerControll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #FF6E4C, #FF426C); 
    filter: brightness(0.3);
    z-index: 0; 
    border-radius: inherit; 
    transition: filter 0.3s ease;
}

.containerControll:hover::before {
    filter: brightness(1);
}
.input-container:hover .input-label {
    font-size: 1.2em;
}
.input-container {
    position: relative;
    z-index: 1; 
    transition: font-size 0.3s ease;
}

.input-label {
    font-size: 1.8em;
    color: #fff;
    z-index: 1; 
    transition: font-size 0.3s ease;
    min-height: 50px;
}

.inputForm, .inputForm:focus, .inputForm:active {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-size: 1.2em;
    transition: font-size 0.3s ease;
}
.inputForm:hover{
    font-size: 1.8em;
    .input-label {
        font-size: 1.2em;
    }
}
.inputForm{
    min-height: 50px;
    min-width: 100%;
}

h1 {
    color: #457041;
    z-index: 1; 
    position: relative;
}

button {
    z-index: 1;
    position: relative;
    background: none;
    border-radius: 20px;
    border: 2px solid #457041; /* Specifica la larghezza e il colore del bordo */
    margin-bottom: 15px;
    font-size: 1.8em;
    padding: 10px;
    color: #000000; /* Assicura che il testo del pulsante abbia lo stesso colore del bordo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Aggiunge una transizione per il colore di sfondo e del testo */
}

button:hover {
    background-color: #457041; /* Cambia il colore di sfondo al passaggio del mouse */
    color: rgb(0, 0, 0); /* Cambia il colore del testo al passaggio del mouse */
}
.disabled, .disabled:hover {
    background-color: gray;
    border-color: gray;
    color: white;
  }
